.game h1 {
   font-size: clamp(2rem, 3.5vw, 3rem);
}

.points span {
   font-size: clamp(1.25rem, 2vw, 1.75rem);
   font-weight: 600;
}

.tip span {
   color: #daba05;
}

.wordContainer {
   margin: 1.5rem;
   padding: 1.5rem;
   border: 17px solid #daba05;
   display: flex;
}

.letter, .blankSquare {
   font-size: 70px;
   line-height: 1.5;
   border: 3px solid #000;
   height: 100px;
   width: 100px;
   text-transform: uppercase;
   background-color: #fff;
   color: #000;
   font-weight: 700;
}

.letterContainer form {
   display: flex;
   gap: 1rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.letterContainer input {
   font-size: 2rem;
   width: 75px;
   height: 75px;
   text-align: center;
}